<%= form_for([:admin, @slide], html: { :multipart => true, class: 'form-horizontal slide' }) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @slide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :category, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :category, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.file_field :image, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
