<div class="panel-heading">
  <h4>Listando
    Companias<%= link_to '', new_admin_company_path, class: 'btn btn-primary fa fa-plus pull-right' %></h4>
</div>

<div class="panel-body">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Titulo</th>
      <th>Logo</th>
      <th>Description</th>
      <th width="50"></th>
      <th width="50"></th>
      <th width="50"></th>
    </tr>
    </thead>

    <tbody>
    <% @companies.each do |company| %>
        <tr>
          <td><%= company.title %></td>
          <td><%= company.logo %></td>
          <td><%= company.description %></td>
          <td><%= link_to '', [:admin, company], class: 'fa fa-search-plus btn btn-sm btn-default' %></td>
          <td><%= link_to '', edit_admin_company_path(company), class: 'fa fa-pencil btn btn-sm btn-warning' %></td>
          <td><%= link_to '', [:admin, company], method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash-o btn btn-sm btn-danger' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="panel-footer">
  <%= will_paginate @polls, renderer: BootstrapPagination::Rails %>
</div>
