<div class="panel-heading">
  <h4>Listando Generos<%= link_to '', new_admin_genre_path, class: 'btn btn-primary fa fa-plus pull-right' %></h4>
</div>

<div class="panel-body">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Titulo</th>
      <th>Description</th>
      <th width="50"></th>
      <th width="50"></th>
      <th width="50"></th>
    </tr>
    </thead>

    <tbody>
    <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.title %></td>
          <td><%= genre.description %></td>
          <td><%= link_to '', [:admin, genre], class: 'fa fa-search-plus btn btn-sm btn-default' %></td>
          <td><%= link_to '', edit_admin_genre_path(genre), class: 'fa fa-pencil btn btn-sm btn-warning' %></td>
          <td><%= link_to '', [:admin, genre], method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash-o btn btn-sm btn-danger' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="panel-footer text-center">
  <%= will_paginate @genres, renderer: BootstrapPagination::Rails %>
</div>

