<div class="row clearfix">
  <div class="grid_9 alpha">

    <%= render partial: 'slider' %>

    <div class="grid_8 omega posts righter">

      <%= render partial: 'posts' %>

      <%= render partial: 'gallery' %>

      <%= render partial: 'reviews' %>

      <%= render partial: 'adverts' %>


    </div>
    <!-- end grid9 -->

    <div class="grid_4 alpha sidebar sidebar_b">

      <%= render partial: 'widgets/videos' %>

      <%= render partial: 'widgets/randon_posts' %>

    </div>
    <!-- end grid9 -->
  </div>
  <!-- end grid9 -->

  <div class="grid_3 omega sidebar sidebar_a">

    <%= render partial: 'widgets/most_waited' %>

    <%= render partial: 'widgets/polls' %>

    <%= render partial: 'widgets/tags' %>

  </div>
  <!-- /grid3 sidebar A -->
</div>
<!-- /row -->