<%# encoding: utf-8 %>
<div class="related_posts mbf clearfix">
  <div class="title">
    <h4>Artigos Relacionados</h4>
    <a href="#" class="feed toptip" title="More Posts"><i class="icon-forward"></i></a>
  </div>

  <div class="carousel_related">
    <% related_posts().each do |post| %>
        <% if post.image.present? %>
            <div class="item hover-shadow">
              <a href="<%= post.link %>#"><img class="toptip" src="<%= post.image.file.thumb %>" alt="#" title="<%= post.title %>"></a>

              <div class="r_content">
                <a class="cat color8" href="#" title="View all posts under Music"><%= post.category.title %></a>

                <div class="r_title"><a href="<%= post.link %>"><%= post.title %></a></div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
<!-- /related -->