<div class="panel-heading">
  <h4>Listando Imagens<%= link_to '', new_admin_image_path, class: 'btn btn-primary fa fa-plus pull-right' %></h4>
</div>

<div class="panel-body">
  <% @images.each do |image| %>
      <div class="col-sm-4 col-md-3 col-lg-2" style="margin-top: 10px">
        <div class="img-thumbnail">
          <div class="thumbnail">
            <img src="<%= image.file.thumb.url %>" class="img-responsive">
          </div>
          <div class="caption text-center">
            <%= image.description %>
            <div style="width: 100%; margin: 0; padding: 0">
              <div class="col-xs-4" style="width: 33%; margin: 0; padding: 0"><%= link_to '', [:admin, image], class: 'fa fa-search-plus btn btn-sm btn-default' %></div>
              <div class="col-xs-4" style="width: 33%; margin: 0; padding: 0"><%= link_to '', edit_admin_image_path(image), class: 'fa fa-pencil btn btn-sm btn-warning' %></div>
              <% if current_user.has_role? :admin %>
                  <div class="col-xs-4" style="width: 33%; margin: 0; padding: 0"><%= link_to '', [:admin, image], method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash-o btn btn-sm btn-danger' %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div class="panel-footer text-center">
  <%= will_paginate @polls, renderer: BootstrapPagination::Rails %>
</div>
