<%= form_for([:admin, @video], html: { class: 'form-horizontal video' }) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :provider, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:provider, [['YouTube', 'youtube'], ['Vimeo', 'vimeo']],{:label => 'Provedor'}, class: 'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :vid, "Video ID", class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :vid, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
